<html><head><title>CLAWQUEUE - Admin Queue</title>
<style type="text/css">
table{border-collapse: collapse;}
td, th, table{
    border: 1pt solid black;
    padding: 5pt;
}
form{
    margin-bottom: 0pt;
    display: inline;
}

#scorebox{
    width: 20pt;
}
</style>
<script type=text/javascript src='{{ url_for('static', filename='jquery.js') }}'></script>
<script>
function updateMessages(){
    $.ajax({
        url: 'get_messages',
        timeout: 2000,
        success: function(data){
            $("#messages").html(data)
        }
    });
};

function updateStatus(){location.reload(true);}

$(document).ready(function(){
    updateMessages();
    setInterval(updateMessages,2000);
});
</script>
</head>
<body>

<div id="messages">
    
<table id="messages"><tr><td>
Messages:
{% for message in messages %}
  <li>{{ message[0] }} -- {{ message[1] }}</li>
{% endfor %}
</td></tr></table>

</div><br />
<a href="admin_queue"><button>Refresh Queue</button></a>

<h3>Master Queue</h3>
<table id="master">
    <tr>
        <th>Ticket #</th>
        <th>Queue #</th>
        <th>Name</th>
        <th>Badge ID</th>
        <th>Status</th>
        <th style="display:none">
        <th>Last Updated</th>
        <th>Do Something</th>
    </tr>
    {% for player in player_data %}
        {% if player[4]=='called' %}
            {% if player[7] == 'late' %}
                <tr style="color:magenta">
            {% elif player[7] == 'warn' %}
                <tr style="color:red">
            {% else %}
                <tr style="color:goldenrod">
            {% endif %}  
        {% elif player[4]=='queued' %}
            <tr style="color:green">
        {% elif player[4]=='playing' %}
            <tr style="color:blue">
        {% else %}
            <tr>
        {% endif %}
        {% for item in player %}{%if loop.index != 6 and loop.index != 8 %}
            <td>{{ item }}</td>
        {% endif %}{% endfor %}
        <td>
        {% if player[4]=='inactive' %}
        <a href="admin_queue?command=forcecall&id={{ player[3] }}"><button class="forcecall"">Force call</button></a>
        {% elif player[4]=='called' %}
        <a href="admin_queue?command=queue&id={{ player[3] }}"><button class="queue">In line</button></a>
        <a href="admin_queue?command=kick&id={{ player[3] }}"><button class="kick">Kick</button></a>
        {% elif player[4]=='queued' %}
        <a href="admin_queue?command=topofqueue&id={{ player[3] }}"><button class="topofqueue">Top of queue</button></a>
        <a href="admin_queue?command=kick&id={{ player[3] }}"><button class="kick">Kick</button></a>
        {% elif player[4]=='playing' %}
        <form action="admin_queue">
            <input type="hidden" name="command" value="finish" />
            <input type="hidden" name="id" value="{{ player[3] }}" />
            <input type="text" id="scorebox" name="score" />
            <input type="submit" value="Score"/>
        </form>
        {% else %}
        done?
        {% endif %}
        </td></tr>
    {% endfor %}

</table>

<br /><br />

<h3>Kicked Players</h3>
<table>
    <tr>
        <th>Ticket #</th>
        <th>Queue #</th>
        <th>Name</th>
        <th>Badge ID</th>
        <th>Status</th>
        <th>Score</th>
        <th>Last Updated</th>
        <th>Unkick</th>
    </tr>
    {% for player in kicked %}
        <tr>
        {% for item in player %}
            <td>{{ item }}</td>
        {% endfor %}
        <td>
        <a href="admin_queue?command=unkick&id={{ player[3] }}"><button class="unkick"">Unkick</button></a>
        </td></tr>
    {% endfor %}
</table>

<br /><br />

<h3>Finished Players</h3>
<table>
    <tr>
        <th>Ticket #</th>
        <th>Queue #</th>
        <th>Name</th>
        <th>Badge ID</th>
        <th>Status</th>
        <th>Score</th>
        <th>Last Updated</th>
        <th>Do Something</th>
    </tr>
    {% for player in finished %}
        <tr>
        {% for item in player %}
            <td>{{ item }}</td>
        {% endfor %}
        <td>
        <form action="admin_queue" >
            <input type="hidden" name="command" value="finish" />
            <input type="hidden" name="id" value="{{ player[3] }}" />
            <input type="text" id="scorebox" name="score" />
            <input type="submit" value="Rescore"/>
        </form>
        <a href="admin_queue?command=unkick&id={{ player[3] }}"><button class="unkick"">Return to Queue</button></a>
        </td></tr>
    {% endfor %}
</table>

</body></html>