<html><head><title>CLAWQUEUE - Public Queue</title>
<style type="text/css">

body{ background-color: black; color:white; font-family: sans-serif;}

@font-face{
    font-family: bricks;
    src: url({{ url_for('static', filename='PrStart.ttf') }});
}

h2 {font-family:bricks; font-size: 28px;}

td, th, table{
    border: 1px solid #0000c0;
    padding: 3px;
    vertical-align: bottom;
}
#wololotable{
    font-size: 9pt;
    padding: 1px;
    border-collapse: collapse;
}

form{
    margin-bottom: 0pt;
    display: inline;
}

#scorebox{
    width: 20pt;
}

</style>
</head>
<body>

<table><tr><td>

<h3>Now Playing</h3>
{% for player in playing %}
    <ul>{{player [0]}} {{ player[1] }}</ul>
{% endfor %}
<br /><br />

</td><td>

<h3>In Queue</h3>
{% for player in queued %}
    <ul>{{player [0]}} {{ player[1] }}</ul>
{% endfor %}
<br /><br />

</td><td>

<h3>Called to Queue</h3>
{% for player in called %}
    <ul>{{player [0]}} {{ player[1] }}</ul>
{% endfor %}
<br /><br />

</td><td>

<h3>Coming up</h3>
{% for player in soon %}
    <ul>{{player [0]}} {{ player[1] }}</ul>
{% endfor %}
<br /><br />

</body></html>